<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<!-- Employee is the database here-->
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/Employee</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Tanusree1@</property>
		<property name="connection.pool_size">1</property>
		
		<!-- hib config -->
		<!-- SQL dialect -->
		<!-- dialect tells hibernate which database to use and dialect is used for query 
		generation, if we need to change the database from mysql to oracle we would
		need to change the value of dialect, also change wherever there is mysql 
		related code -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Show all executed SQL to stdout , display queries created by hibernate-->
		<!--   -<property name="show_sql">true</property>-->

		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<!--  --><property name="hbm2ddl.auto">update</property>->
		<!-- Entity classes -->
		
	<!--  <mapping class="hibernatePractice.Employee" /> -->
	 <mapping resource = "Employee.hbm.xml"/>

		
	 
	 </session-factory>
</hibernate-configuration>